.label {
  background-color: var(--togglebackground-color);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 1.4rem;
  width: 2.8rem;
  transform: scale(1.5);
}
.label .ball {
  background-color: #fff;
  box-shadow: #111 0px 1px 7px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -1px;
  height: 1.4rem;
  width: 1.4rem;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(1.5rem);
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.moon {
  color: #f1c40f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon svg {
  width: 1em;
  height: 1em;
}

.sun {
  color: #f39c12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sun svg {
  width: 1em;
  height: 1em;
}
