.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 350px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 300px;
}
.head {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2em;
}
.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.input {
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  padding: 0.4em;
}
.input:focus {
  outline: none;
  border-bottom: 2px solid red;
}
.input:focus::placeholder {
  color: transparent;
}
.button {
  margin: 2em;
  background-color: transparent;
  padding: 5px;
  border: 0px;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  align-self: center;
  cursor: pointer;
}
.button:hover {
  border: 2px solid black;
}
.svg {
  margin-left: -10px;
  width: 1.4em;
  display: block;
}
.pnote {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #3a3a3a;
  margin-bottom: 0.5em;
}
.valid {
  border-bottom: 2px solid greenyellow;
}
.reject {
  border: 2px solid red;
}
.error {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5em;
  color: rgb(255, 80, 80);
}
@media screen and (max-width: 500px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 250px;
  }
}
