.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--signinbackground-color);
  box-shadow: 0px 0px 12px 3px rgba(70, 70, 70, 0.2);
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 350px;
}
.toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 300px;
}
.head {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: var(--modaltext-color);
}
.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--modaltext-color);
}
.input {
  border: 2px solid transparent;
  border-bottom: 2px solid var(--modaltext-color);
  color: var(--modaltext-color);
  background-color: transparent;
  padding: 0.4em;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--modaltext-color);
}
.input:focus::placeholder {
  color: transparent;
}
.button {
  margin: 2em;
  background-color: transparent;
  padding: 5px;
  border: 0px;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--modaltext-color);
  display: flex;
  color: var(--modaltext-color);
  justify-content: center;
  align-items: center;
  width: 150px;
  align-self: center;
  cursor: pointer;
}

.button:hover {
  border: 2px solid var(--modaltext-color);
}
.svg {
  margin-left: -10px;
  width: 1.4em;
  display: block;
}
.pnote {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--ptext-color);
  margin-bottom: 0.5em;
}
.error {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5em;
  color: var(--errortext-color);
}

@media screen and (max-width: 500px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 250px;
  }
  .error {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5em;
  }
}
