.form {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 40rem;
  margin: 2rem auto;
}
.input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494444;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}
.content {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494444;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}
.form label {
  font-weight: 600;
  margin-top: 1.5rem;
}

.form button {
  font: inherit;
  background-color: #eb6302;
  border: 1px solid #eb6302;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background-color: #eb6302;
  border-color: #eb6302;
}
