.signIn {
  border: 1px solid rgba(0, 0, 0, 0.349);
  border-radius: 5px;
  height: 1.3em;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: box-shadow 0.4s ease-in-out;
}
.signIn:hover {
  box-shadow: rgba(0, 23, 59, 0.452) 0px 4px 14px;
}
.signUp {
  border: 1px solid rgb(0, 77, 201);
  border-radius: 5px;
  height: 1.3em;
  width: 200px;
  padding: 20px;
  background-color: rgb(0, 98, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: white;
  transition: box-shadow 0.4s ease-in-out;
}
.signUp:hover {
  box-shadow: rgba(0, 98, 255, 0.75) 3px 8px 18px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 15px;
}
@media screen and (max-width: 500px) {
  .signUp {
    border: 1px solid rgb(0, 77, 201);
    border-radius: 5px;
    height: 1.3em;
    width: 300px;
    padding: 20px;
    background-color: rgb(0, 98, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
    transition: box-shadow 0.4s ease-in-out;
  }
  .signIn {
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    height: 1.3em;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: box-shadow 0.4s ease-in-out;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 15px;
  }
}
