.signIn {
  border: 1px solid var(--signinbtn-color);
  color: var(--signinbtn-color);
  border-radius: 5px;
  height: 1.3em;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: box-shadow 0.4s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.signIn:hover {
  box-shadow: var(--signinhover-color) 0px 4px 14px;
}
.signUp {
  border: 1px solid var(--signupbtn-color);
  border-radius: 5px;
  height: 1.3em;
  width: 200px;
  padding: 20px;
  background-color: var(--signupbtn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: var(--background-color);
  transition: box-shadow 0.4s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.signUp:hover {
  box-shadow: var(--signuphover-color) 3px 8px 18px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 15px;
}
@media screen and (max-width: 500px) {
  .signUp {
    border-radius: 5px;
    height: 1.3em;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: box-shadow 0.4s ease-in-out;
  }
  .signIn {
    border-radius: 5px;
    height: 1.3em;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: box-shadow 0.4s ease-in-out;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 15px;
  }
}
